.convenience-menu{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.sorting-direction{
    display: flex; 
    flex-direction: column;
    margin-top: 18px;
    margin-left: 5px;
    // position: absolute;
    // left: 50px;
}
.descending{
    // width: 20px; 
    // height: 18px;
background-color: rgb(238, 122, 20);
transition: 1s;
cursor: pointer;
}

.ascending{
    // width: 20px; 
    // height: 18px;
    background-color: rgb(238, 122, 20);
transition: 1s;
cursor: pointer;
}

.arrow-up{
    margin: auto;
}
.arrow-down{
    margin: auto;
}
.ascending:hover, .descending:hover{
    transform: scale(1.05);
}

.genres-item_active{
background-color: rgb(76, 76, 227);
border: solid 1px ;
}

// .genres-header{
//     font-size: 20px;
//     color: orangered;
//     }
    .sort-menu{
        z-index: 5;
    display: inline-block;
    position: relative;
    margin-left:50px ;
    }
    .sort-input{
        width: 150px;
    background-color: #efb153;
    box-shadow: -5px 10px 10px 5px rgba(0,0.45,0,0.35);
    }
    .sort-list{
        width: 100%;
        background-color: #f6ad54;
        color: #1d1d1c;
        border: black solid 2px;
        box-shadow: inset;
        list-style:none;
        position: absolute;
        display: none;
        opacity: 0.8;
        padding-left:20px;
        text-align: left;
    }
    .sort-list li{
        text-decoration: underline;
        font-weight: 700;
        &:hover{
            cursor:pointer;
            color: #f6f6f6;
        }
    }