.is-hidden{
    display: none;
    opacity: 1;
    pointer-events: none;
}
.button-modal-close{
    position: absolute;
    cursor: pointer;
    height: 15px;
    padding: 0;
    right: 5px;
    top: 3px;
    border: none;
    background-color: transparent;
}
.close-svg{
    width: 15px;
    height: 15px;
    fill:#ff6b01;
}
.buttons{
    display: flex;
    &button{
        border-radius: 5px;
    }
}
.button-wached p, .button-queue p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        text-transform: uppercase;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0;
    }

.button-wached{
    border: 1px solid #000000;
    border-radius: 5px;
    margin-right: 15px;
    width: 130px;
        height: 44px;
        &:hover, :focus {
            cursor: pointer;
            background-color: #FF6B01;
            border: none;
            color: white;
            filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
        }
}
.button-queue{
    border: 1px solid #000000;
    border-radius: 5px;
    width: 130px;
        height: 44px;
        &:hover, :focus {
            cursor: pointer;
            background-color: #FF6B01;
            border: none;
            color: white;
            filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
        }
}
.backdrop{
  position:fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.25);
    @media (max-width: 767px) {
        padding: 20px;
}
    @media (min-width: 768px) and (max-width: 1279px){
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 75px;
        padding-right: 75px;
    }
    @media (min-width: 1280px){
        padding: 100px 250px;
}
}
.film_modal {
    position: relative;
    background-color: white;
    @media (max-width: 767px) {
        overflow-y: scroll;
    }
}
.modal__content{
    overflow: hidden;
    @media (max-width: 767px) {
        padding-top: 48px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 48px;
    }
    @media (min-width: 768px) and (max-width: 1279px){
        display: flex;
        padding-top: 42px;
        padding-left: 28px;
        padding-right: 30px;
        padding-bottom: 42px;
    }
    @media (min-width: 1280px){
        display: flex;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
    }
    & img{
        border-radius: 5px;
        transition: transform 0.5s;
        
        @media (max-width: 767px) {
            width:100%; 
            height:450px;
        }
        @media (min-width: 768px) and (max-width: 1279px){
            width:350px; 
        }
        @media (min-width: 1280px){
            width:550px; 
            height:470px;
        }
    }
    &:hover img{
        transform: scale(1.02);
    }
}
.text-container{
    @media (max-width: 767px) {
      
    }
    @media (min-width: 768px) and (max-width: 1279px){
       margin-left: 32px;
    }
    @media (min-width: 1280px){
        margin-left: 30px;
    }
}
.film-header{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
    @media (max-width: 767px) {
        margin-top: 30px;
    }
    @media (min-width: 768px) and (max-width: 1279px){
       
    }
    @media (min-width: 1280px){
        font-size: 30px;
        line-height: 35px;
    }
}
.film_info{
    display: flex;
        margin-top: 20px;
        align-items: baseline;
}
.film__left_info{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
color: #8C8C8C;
margin-right: 40px;
& span:not(:last-child){
    margin-bottom: 10px;
}
}
.vote-average{
    background: #FF6B01;
    color: white;
border-radius: 5px;
padding: 0px 8px;
}
.film__right_info{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
& span:not(:last-child), p{
    margin-bottom: 12px;
}
}
.about{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0;
}
.about-info{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}