$color-main: #ffffff;
$color-secondary: #000;
//background
$bg-main: #E5E5E5;
$bg-dark-modal-color: 0.25; //opacity
$bg-footer: #F7F7F7;
//background button
$btn-bg-accent: #ff6b01;
$btn-pagination: #F7F7F7;
//accent color
$color-accent: #ff6b08;
$color-warning-accent: #ff001b;
//text color
$primary-text-color: #000000;
$footer-text-color: #545454;
$modal-subtitle-color: #8c8c8c;
$white-color: #ffffff;
//Main fonts
$main-font: 'Roboto', sans-serif;
$main-font-size: 12px;
$secondary-font-size: 14px;

//Animation
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
