<header class="home">
  <div class="container">
    <nav>
      <div class="header__column column-1">
        <a href="index.html" class="header__logo">
          <div class="logo_container">
            <img src="images/logo.png" alt="Filmoteka">
          </div>
          <div class="logo_name">
            <h1> Filmoteka</h1>
        </div>
      </a>
      </div>
      <div class="header__column column-2">
        <div class="list_container">
          <a id="home" class="list">
            Home
          </a>
        </div>
        <div class="list_container">
          <a id="library" class="list">
            My Library
          </a>
        </div>
      </div>
    </nav>
    <div class="search">
      <div class="search_container">
        <input class="search-input" type="text" placeholder="Поиск фильмов">
        <div class="search_icon">
          <svg class="icon" width="15px" height="15px">
            <use fill="white" href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
        </div>
      </div>
      <p id="search_error"></p>
    </div>
  </div>
</header>