<header class="library invisable ">
    <div class="container">
      <nav>
        <div class="header__column column-1">
          <a href="index.html" class="header__logo">
            <div class="logo_container">
              <img src="images/logo.png" alt="Filmoteka">
            </div>
            <div class="logo_name">
              <h1>Filmoteka</h1>
            </div>
          </a>
        </div>
        <div class="header__column column-2">
          <div class="list_container">
            <a id="home" class="list">
              Home
            </a>
          </div>
          <div class="list_container">
            <a id="library" class="list">
              My Library
            </a>
          </div>
        </div>
      </nav>
      <div class="buttons">
        <div class="buttons_container">
            <button class="watched">Watched</button>
            <button class="queue">Queue</button>
        </div>
      </div>
    </div>
</header>