<div class="convenience-menu">
  <div class="sort-by-genre">
    <h3 class="genres-header">Filter by Genre</h3>
    <button class="reset-filter" type="button">Reset</button>
    <input class="input-genre" placeholder="choose a genre" readonly />
    <ul class="genres-list"></ul>
    <button class="apply-filter" type="button">Apply</button>
  </div>
  <div class="sort-menu">
    <h3 class="genres-header">Sort by</h3>
    <input class="sort-input" placeholder="choose a genre" readonly />
    <ul class="sort-list" list-style: none>
      <li class="sort-title">Title</li>
      <li class="sort-popularuty">Popularity</li>
      <li class="sort-votes">Votes</li>
      <li class="sort-votes-count">Votes-count</li>
      <li class="sort-release">Release-data</li>
    </ul>
  </div>
  <div class="sorting-direction">
    <button class="ascending">^</button>
    <button class="descending">~</button>
  </div>
</div>
