<div class="convenience-menu">
  <div class="sort-by-genre">
    <h3 class="genres-header">Filter by Genre</h3>
    <button class="reset-filter" type="button">Reset</button>
    <input class="input-genre" placeholder="choose a genre" readonly />
    <ul class="genres-list"></ul>
    <button class="apply-filter" type="button">Apply</button>
  </div>
  <div class="sort-menu">
    <h3 class="genres-header">Sort by</h3>
    <button class="ascending">
      <svg class="arrow-up" width="15px" height="15px">
        <use fill="white" href="./images/symbol-defs.svg#arrow-up"></use>
      </svg>
    </button>
    <input class="sort-input" placeholder="choose sort method" readonly />
    <ul class="sort-list" list-style: none>
      <li class="sort-title">Title</li>
      <li class="sort-popularuty">Popularity</li>
      <li class="sort-votes">Votes</li>
      <li class="sort-votes-count">Votes-count</li>
      <li class="sort-release">Release-data</li>
    </ul>
    <button class="descending">
      <svg class="arrow-down" width="15px" height="15px">
        <use fill="white" href="./images/symbol-defs.svg#arrow-down"></use>
      </svg>
    </button>
  </div>
</div>
